<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="postMapper">
<!-- 포스트 리스트 -->
<select id="postList" parameterType="map" resultType="com.log4h.singletontrip.post.domain.PostVo">
	SELECT
		post_no,
		member_id,
		post_title,
		post_content,
		post_img,
		post_reg_date,
		post_view_count
	FROM
		tb_post
	WHERE
		member_id = #{memberId}
	AND 
		post_delete_date is NULL
	ORDER BY post_reg_date DESC
	LIMIT 0, #{lastPostRow}
</select>

<!-- 포스트 등록 -->
<insert id="postInsert" parameterType="com.log4h.singletontrip.post.domain.PostVo">
	INSERT INTO tb_post(
		member_id,
		post_title,
		post_content,
		post_reg_date
		<if test="postImg != null and postImg !=''">
		,post_img
		</if>
	)
	VALUES(
		#{memberId},
		#{postTitle},
		#{postContent},
		now()
		<if test="postImg != null and postImg !=''">
		,#{postImg}
		</if>
	)
</insert>

<!-- 포스트 보기 -->
<select id="postView" parameterType="int" resultType="com.log4h.singletontrip.post.domain.PostVo">
	SELECT
		post_no,
		member_id,
		post_title,
		post_content,
		post_img,
		post_reg_date,
		post_view_count
	FROM
		tb_post
	WHERE
		post_no = #{postNo}
</select>

<!-- 포스트 수정 -->
<update id="postUpdate" parameterType="com.log4h.singletontrip.post.domain.PostVo">
	UPDATE 
		tb_post
	SET
		post_title = #{postTitle},
		post_content = #{postContent},
		post_modify_date = now()
		<if test="postImg != null and postImg !=''">
		,post_img = #{postImg}
		</if>
	WHERE	
		post_no = #{postNo}	
</update>
<!-- 포스트 삭제 -->
<update id="postDelete" parameterType="int">
	UPDATE 
		tb_post
	SET
		post_delete_date = now()
	WHERE	
		post_no = #{postNo}	
</update>

<!-- 포스트 댓글 등록 -->
<insert id="postCommentInsert" parameterType="com.log4h.singletontrip.post.domain.PostCommentVo">
	INSERT INTO tb_post_comment(
		post_no,
		member_id,
		post_comment_content,
		post_comment_reg_date
	)
	VALUES(
		#{postNo},
		#{memberId},
		#{postCommentContent},
		now()
	)
</insert>
<!-- 포스트 댓글 리스트 -->
<select id="postCommentList" parameterType="Map" resultType="com.log4h.singletontrip.post.domain.PostCommentVo">
	SELECT
		p.member_id as postId,
		c.post_comment_no,
		c.post_no,
	    c.member_id,
	    c.post_comment_content,
	    c.post_comment_reg_date
	FROM
		tb_post p
	JOIN
		tb_post_comment c
	ON 
		p.post_no = c.post_no
    WHERE p.member_id = #{memberId}
   	AND p.post_no = #{postNo}
   	AND 
		c.post_comment_delete_date is NULL
   	ORDER BY post_comment_no DESC
	LIMIT 0, #{lastCommentRow}
</select>
<!-- 포스트 댓글삭제 -->
<update id="postCommentDelete" parameterType="int">
	UPDATE 
		tb_post_comment
	SET
		post_comment_delete_date = now()
	WHERE	
		post_comment_no = #{postCommentNo}	
</update>
</mapper>