<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reserveMapper">
	<!-- reserveList의 카운트를 가져옴 -->
	<select id="getReserveTotalCount" parameterType="Map" resultType="int">
		SELECT 
			COUNT(*)			
		FROM 
			tb_reserve rsv
		JOIN 
			tb_room r
		JOIN 
			tb_payment_state pmst
		JOIN 
			tb_company cp
		JOIN 
			tb_member perm
		JOIN 
			tb_payment pm
		JOIN 
			tb_member comm
		ON 
			rsv.room_no = r.room_no
		AND 
			rsv.payment_state_cd = pmst.payment_state_cd
		AND
			r.company_id = cp.company_id
		AND
			rsv.person_id = perm.member_id
		AND
			rsv.reserve_no = pm.payment_target_no
		AND 
			comm.member_id = r.company_id
		<choose>
			<when test="login.memberLevel == 3">
				WHERE
					rsv.person_id = #{login.memberId}
			</when>
			<when test="login.memberLevel == 2">
				WHERE 
					cp.company_id = #{login.memberId}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	
	</select>
	
	<!-- reserveList 를 가져옴 -->
	<select id="getReserveList" parameterType="Map" resultType="HashMap">
		SELECT 
			rsv.reserve_stay_day as 'reserveVo.reserveStayDay', 
			rsv.reserve_checkin_date as 'reserveVo.reserveCheckIn', 
			rsv.reserve_checkout_date as 'reserveVo.reserveCheckOut', 
			
			r.room_nm as 'reserveVo.room.roomNm',
						
			pmst.payment_state_nm as 'reserveVo.paymentState.paymentStateNm',
			
			cp.company_address as 'reserveVo.room.company.companyAddress',
		
			perm.member_nm as 'reserveVo.person.memberNm',
			perm.member_phone as 'reserveVo.person.memberPhone',
			
			pm.payment_price as 'paymentVo.paymentPrice',
			DATE_FORMAT(pm.payment_finish_date, "%Y-%m-%d ") as 'paymentVo.paymentFinishDate',
			
			comm.member_nm as 'reserveVo.room.company.memberNm'
			
		FROM tb_reserve rsv
		JOIN tb_room r
		JOIN tb_payment_state pmst
		JOIN tb_company cp
		JOIN tb_member perm
		JOIN tb_payment pm
		JOIN tb_member comm
		ON 
			rsv.room_no = r.room_no
		AND 
			rsv.payment_state_cd = pmst.payment_state_cd
		AND
			r.company_id = cp.company_id
		AND
			rsv.person_id = perm.member_id
		AND
			rsv.reserve_no = pm.payment_target_no
		AND 
			comm.member_id = r.company_id
		<choose>
			<when test="login.memberLevel == 3">
				WHERE
					rsv.person_id = #{login.memberId}
			</when>
			<when test="login.memberLevel == 2">
				WHERE 
					cp.company_id = #{login.memberId}
			</when>
			<otherwise>
			</otherwise>
		</choose>
		ORDER BY rsv.reserve_no
		DESC LIMIT #{beginRow}, #{pagePerRow}
	</select>
	
	<!-- paymentCate를 가져옴 -->
	<select id="getPaymentCate" resultType="com.log4h.singletontrip.reserve.domain.PaymentCateVo">
		SELECT 
			payment_cate_cd,
			payment_cate_nm
		FROM 
			tb_payment_cate
	</select>
	
	<!-- 업체 광고 결제 내역 count -->
	<select id="adPayCount" parameterType="Map" resultType="int">
		SELECT 
			COUNT(*)
		FROM tb_payment pm
		JOIN tb_payment_cate pmc
		JOIN tb_payment_state pms
		JOIN tb_ad ad
						
		ON pm.payment_cate_cd = pmc.payment_cate_cd
		AND pm.payment_state_cd = pms.payment_state_cd
		AND pm.payment_target_no = ad.ad_no
		<where>
			<choose>
				<when test="login.memberLevel != 1 ">
					pm.member_id = #{login.memberId}
				</when>
				<otherwise>
					<if test ="selectValue != null and selectValue !='' ">
					pm.member_id LIKE '%${selectValue}%'		
					</if>
				</otherwise>
			</choose>
		</where>
	</select>
	
	<!-- 업체 광고 결제 내역 -->
	<select id="adPayList" parameterType="Map" resultType="com.log4h.singletontrip.reserve.domain.PaymentVo">
		SELECT 
			pm.payment_no ,
			pm.admin_id , 
			pm.member_id ,
			pm.payment_price, 
			DATE_FORMAT(pm.payment_apply_date,"%Y-%m-%d ") 'paymentApplyDate', 
			DATE_FORMAT(pm.payment_finish_date, "%Y-%m-%d ") 'paymentFinishDate', 
			DATE_FORMAT(pm.payment_approve_date,"%Y-%m-%d ") 'paymentApproveDate', 
			
			pmc.payment_cate_nm 'paymentCate.paymentCateNm',
			
			pms.payment_state_nm,
			
			ad.ad_content 'ad.adContent'
		FROM tb_payment pm
		JOIN tb_payment_cate pmc
		JOIN tb_payment_state pms
		JOIN tb_ad ad
						
		ON pm.payment_cate_cd = pmc.payment_cate_cd
		AND pm.payment_state_cd = pms.payment_state_cd
		AND pm.payment_target_no = ad.ad_no
		<where>
			<choose>
				<when test="login.memberLevel != 1 ">
					pm.member_id = #{login.memberId}
				</when>
				<otherwise>
					<if test ="selectValue != null and selectValue !='' ">
						pm.member_id LIKE '%${selectValue}%'		
					</if>
				</otherwise>
			</choose>
		</where>
		ORDER BY 	pm.payment_no
		DESC LIMIT #{beginRow}, #{pagePerRow}
		
	</select>
	
	<!-- 일반회원 결제 내역 count
	<select id="reservePayCount" parameterType="Map" resultType="int">
		SELECT 
			COUNT(*)
		FROM tb_payment pm
		JOIN tb_payment_cate pmc
		JOIN tb_payment_state pms
		JOIN tb_reserve rv
		JOIN tb_room rm
		JOIN tb_member m
				
		ON pm.payment_cate_cd = pmc.payment_cate_cd
		AND pm.payment_state_cd = pms.payment_state_cd
		AND rv.reserve_no = pm.payment_target_no
		AND rv.room_no = rm.room_no
		AND rm.company_id = m.member_id
		<where>
			<choose>
				<when test="login.memberLevel != 1 ">
					pm.member_id = #{login.memberId}
				</when>
				<otherwise>
					<if test ="selectValue != null and selectValue !='' ">
						pm.member_id LIKE '%${selectValue}%'		
					</if>
				</otherwise>
			</choose>
		</where>
	</select>
	
	일반회원 결제 내역
	<select id="reservePayList" parameterType="Map" resultType="com.log4h.singletontrip.reserve.domain.PaymentVo">
		SELECT 
			pm.payment_no ,
			pm.admin_id , 
			pm.member_id ,
			pm.payment_use_mileage,  
			pm.payment_price, 
			pm.payment_total_price, 
			DATE_FORMAT(pm.payment_apply_date,"%Y-%m-%d ") 'paymentApplyDate', 
			DATE_FORMAT(pm.payment_finish_date, "%Y-%m-%d ") 'paymentFinishDate', 
			DATE_FORMAT(pm.payment_approve_date,"%Y-%m-%d ") 'paymentApproveDate', 
			
			pmc.payment_cate_nm 'paymentCate.paymentCateNm',
			
			pms.payment_state_nm,
			
			rm.room_nm,
			
			m.member_nm 'companyNm' 
		FROM tb_payment pm
		JOIN tb_payment_cate pmc
		JOIN tb_payment_state pms
		JOIN tb_reserve rv
		JOIN tb_room rm
		JOIN tb_member m
				
		ON pm.payment_cate_cd = pmc.payment_cate_cd
		AND pm.payment_state_cd = pms.payment_state_cd
		AND rv.reserve_no = pm.payment_target_no
		AND rv.room_no = rm.room_no
		AND rm.company_id = m.member_id
		<where>
			<choose>
				<when test="login.memberLevel != 1 ">
					pm.member_id = #{login.memberId}
				</when>
				<otherwise>
					<if test ="selectValue != null and selectValue !='' ">
						pm.member_id LIKE '%${selectValue}%'		
					</if>
				</otherwise>
			</choose>
		</where>
		ORDER BY 	pm.payment_no 
		DESC LIMIT #{beginRow}, #{pagePerRow}
		
	</select>
	 -->
	 
	<!-- 방정보 가져오기 -->
	<select id="getRoom" parameterType="int" resultType="com.log4h.singletontrip.room.domain.RoomVo">
		SELECT 
			room_nm, 
			room_img, 
			room_normal_price
		FROM 
			tb_room
		WHERE
			room_no = #{roomNo}
		
	</select>
	<!-- 예약자 정보 가져오기 -->
	<select id="getPerson" parameterType="String" resultType="com.log4h.singletontrip.member.domain.PersonVo">
		SELECT 
			m.member_nm,
			m.member_phone,
			
			p.person_total_mileage
		FROM 
			tb_member m
		JOIN
			tb_person p
		ON
			m.member_id = p.person_id
		WHERE
			m.member_id = #{sessionId}
	
	</select>
</mapper>
