<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reserveMapper">
	<!-- reserveList의 카운트를 가져옴 -->
	<select id="getReserveTotalCount" parameterType="Map" resultType="int">
		SELECT 
			COUNT(*)			
		FROM 
			tb_reserve rsv
		JOIN 
			tb_room r
		JOIN 
			tb_payment_state pmst
		JOIN 
			tb_company cp
		JOIN 
			tb_member perm
		JOIN 
			tb_payment pm
		JOIN 
			tb_member comm
		ON 
			rsv.room_no = r.room_no
		AND 
			rsv.payment_state_cd = pmst.payment_state_cd
		AND
			r.company_id = cp.company_id
		AND
			rsv.person_id = perm.member_id
		AND
			rsv.reserve_no = pm.payment_target_no
		AND 
			comm.member_id = r.company_id
		<choose>
			<when test="login.memberLevel == 3">
					
				WHERE
					rsv.person_id = #{login.memberId}
			</when>
			<when test="login.memberLevel == 2">
				WHERE 
					cp.company_id = #{login.memberId}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	
	</select>
	
	<!-- reserveList 를 가져옴 -->
	<select id="getReserveList" parameterType="Map" resultType="HashMap">
		SELECT 
			rsv.reserve_stay_day as 'reserveVo.reserveStayDay', 
			rsv.reserve_checkin_date as 'reserveVo.reserveCheckIn', 
			rsv.reserve_checkout_date as 'reserveVo.reserveCheckOut', 
			
			r.room_nm as 'reserveVo.room.roomNm',
						
			pmst.payment_state_nm as 'reserveVo.paymentState.paymentStateNm',
			
			cp.company_address as 'reserveVo.room.company.companyAddress',
		
			perm.member_nm as 'reserveVo.person.memberNm',
			perm.member_phone as 'reserveVo.person.memberPhone',
			
			pm.payment_price as 'paymentVo.paymentPrice',
			DATE_FORMAT(pm.payment_finish_date, "%Y-%m-%d ") as 'paymentVo.paymentFinishDate',
			
			comm.member_nm as 'reserveVo.room.company.memberNm'
			
		FROM tb_reserve rsv
		JOIN tb_room r
		JOIN tb_payment_state pmst
		JOIN tb_company cp
		JOIN tb_member perm
		JOIN tb_payment pm
		JOIN tb_member comm
		ON 
			rsv.room_no = r.room_no
		AND 
			rsv.payment_state_cd = pmst.payment_state_cd
		AND
			r.company_id = cp.company_id
		AND
			rsv.person_id = perm.member_id
		AND
			rsv.reserve_no = pm.payment_target_no
		AND 
			comm.member_id = r.company_id
		<choose>
			<when test="login.memberLevel == 3">
					
				WHERE
					rsv.person_id = #{login.memberId}
			</when>
			<when test="login.memberLevel == 2">
				WHERE 
					cp.company_id = #{login.memberId}
			</when>
			<otherwise>
			</otherwise>
		</choose>
			
	</select>
	
	<!-- paymentCate를 가져옴 -->
	<select id="getPaymentCate" resultType="com.log4h.singletontrip.reserve.domain.PaymentCateVo">
		SELECT 
			payment_cate_cd,
			payment_cate_nm
		FROM 
			tb_payment_cate
	</select>
	
	<!-- payList의 카운트를 가져옴 -->
	<select id="getPayTotalCount" parameterType="Map" resultType="int">
		SELECT 
			COUNT(*)
		FROM tb_payment pm
		JOIN tb_payment_cate pmc
		JOIN tb_payment_state pms
		
		ON pm.payment_cate_cd = pmc.payment_cate_cd
		AND pm.payment_state_cd = pms.payment_state_cd

		<if test="login.memberLevel != 1 ">
				
			WHERE
				pm.member_id = #{login.memberId}
		</if>
	</select>
	
	<!-- payList의 가져옴 -->
	<select id="getPayList" parameterType="Map" resultType="com.log4h.singletontrip.reserve.domain.PaymentVo">
		SELECT 
			pm.payment_no ,
			pm.admin_id , 
			pm.member_id , 
		 	pm.payment_target_no, 
			pm.payment_use_mileage, 
			pm.payment_price, 
			pm.payment_total_price, 
			DATE_FORMAT(pm.payment_apply_date,"%Y-%m-%d "), 
			DATE_FORMAT(pm.payment_finish_date, "%Y-%m-%d "), 
			DATE_FORMAT(pm.payment_approve_date,"%Y-%m-%d "), 
			
			pmc.payment_cate_nm '',
			
			pms.payment_state_nm
		FROM tb_payment pm
		JOIN tb_payment_cate pmc
		JOIN tb_payment_state pms
		
		ON pm.payment_cate_cd = pmc.payment_cate_cd
		AND pm.payment_state_cd = pms.payment_state_cd

		<if test="login.memberLevel != 1 ">
			WHERE
				pm.member_id = #{login.memberId}
		</if>
	</select>
</mapper>
