<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdMapper">
<!-- 광고 신청 폼에 리스트 뿌리기 -->
<select id="selectAdPrice"
		resultType="com.log4h.singletontrip.ad.domain.AdPriceVo">
	SELECT
		ad_price_cd,
		ad_price_detail,
		ad_price_perday,
		ad_price_amount,
		ad_price_total
	FROM
		tb_ad_price
</select>
<!-- 광고 신청 목록 카운트 -->
<select id="adApplyListCount"
		resultType="int">
	SELECT
		COUNT(*)
	FROM
		tb_ad
	WHERE
		ad_approve_state_cd = 1
	<if test="memberLevel == 2">
		AND member_id = #{memberId}
	</if>
</select>
<!-- 광고 신청 목록 -->
<select id="selectAdApplyList" parameterType="map"
		resultType="com.log4h.singletontrip.ad.domain.AdVo">
	SELECT
		ad_no,
		company_id,
		ad_group_cd,
		ad_content,
		ad_img,
		ad_apply_date,
		approve_state_nm,
		payment_finish_date
	FROM
		tb_ad
	JOIN
		tb_payment
	JOIN
		tb_approve_state
	ON
		payment_target_no = ad_no
	WHERE
		ad_approve_state_cd = 1
	AND
		ad_approve_state_cd = approve_state_cd
	<if test="memberLevel == 2">
		AND member_id = #{memberId}
	</if>
	ORDER BY ad_no
	DESC LIMIT #{beginRow}, #{pagePerRow}
</select>
<!-- 같은 내용의 광고가 승인 돼있는지 알아보기 (가장 늦는 날짜 가져옴) -->
<select id="selectSameAd" parameterType="map"
		resultType="String">
	SELECT
		ad_end_date
	FROM
		tb_ad
	JOIN
		tb_ad_price
	ON 
		ad_group_cd = ad_price_group
	WHERE
		ad_group_cd = #{adGroupCd}
	AND
		company_id = #{companyId}
	AND
		ad_approve_state_cd = 2
	ORDER BY 
		ad_end_date DESC limit 1
</select>
<!-- 광고 신청 목록에서 승인 -->
<update id="adApprove" parameterType="map">
	UPDATE
		tb_ad
	JOIN
		tb_payment
	ON
		ad_no = payment_target_no
	SET
		ad_approve_state_cd = 2,
		<if test = "selectSameAd != null">
			ad_reg_date = #{selectSameAd},
			ad_end_date = ADDDATE(#{selectSameAd}, INTERVAL ad_total_amount DAY),
		</if>
		<if test = "selectSameAd == null">
			ad_reg_date = now(),
			ad_end_date = ADDDATE(now(), INTERVAL ad_total_amount DAY),
		</if>
		tb_ad.admin_id = #{adminId},
		tb_payment.admin_id = #{adminId},
		payment_approve_date = now()
	WHERE
		ad_no = #{adNo}
</update>
<!-- 광고 신청 목록에서 거절(관리자) -->
<update id="adRefuse" parameterType="map">
	UPDATE
		tb_ad
	JOIN
		tb_payment
	ON
		ad_no = payment_target_no
	SET
		ad_approve_state_cd = 3,
		tb_ad.admin_id = #{adminId},
		tb_payment.admin_id = #{adminId},
		payment_state_cd = 3,
		payment_approve_date = now()
	WHERE
		ad_no = #{adNo}
</update>
<!-- 광고 신청 목록에서 환불요청(업체) -->
<update id="paybackApply" parameterType="int">
	UPDATE
		tb_ad
	JOIN
		tb_payment
	ON
		ad_no = payment_target_no
	SET
		ad_approve_state_cd = 5,
		payment_state_cd = 4
	WHERE
		ad_no = #{adNo}
</update>
<!-- 메인 광고 갯수 가져오기 -->
<select id="mainAdCount" resultType="com.log4h.singletontrip.ad.domain.AdVo">
	SELECT
		ad_no
	FROM
		tb_ad
	WHERE
		ad_approve_state_cd = 2
	AND
		ad_group_cd = 1
	AND
		ad_reg_date <![CDATA[<]]> curdate()
</select>
<!-- 광고 할 이미지파일 가져오기(메인) -->
<select id="selectUseAdMain"
		resultType="com.log4h.singletontrip.ad.domain.AdVo">
	SELECT
		ad_img,
		ad_page_address,
		company_id
	FROM
		tb_ad
	WHERE
		ad_approve_state_cd = 2
	AND
		ad_group_cd = 1
	AND
		ad_reg_date <![CDATA[<]]> curdate()
</select>
<!-- 광고 할 이미지파일 가져오기(홈페이지상단) -->
<select id="selectUseAdHome"
		resultType="com.log4h.singletontrip.ad.domain.AdVo">
	SELECT
		ad_img,
		ad_page_address,
		company_id
	FROM
		tb_ad
	WHERE
		ad_approve_state_cd = 2
	AND
		ad_group_cd = 2
	AND
		ad_reg_date <![CDATA[<]]> curdate()
	ORDER BY rand() limit 1
</select>
<!-- 광고 할 이미지파일 가져오기(검색상단노출) -->
<select id="selectUseAdSearch"
		resultType="com.log4h.singletontrip.ad.domain.AdVo">
	SELECT
		ad_img,
		ad_page_address,
		company_id
	FROM
		tb_ad
	WHERE
		ad_approve_state_cd = 2
	AND
		ad_group_cd = 3
	AND
		ad_reg_date <![CDATA[<]]> curdate()
	ORDER BY rand() limit 1
</select>
<!-- 환불 리스트 카운트 -->
<select id="paybackListCount" parameterType="com.log4h.singletontrip.member.domain.LoginVo"
		resultType="int">
	SELECT
		COUNT(*)
	FROM
		tb_payment a
	JOIN
		tb_payment_state b
	ON
		a.payment_state_cd = b.payment_state_cd
	WHERE
		a.payment_state_cd > 2
	<if test="memberLevel > 1">
		AND member_id = #{memberId}
	</if>		
</select>
<!-- 환불 페이지 -->
<select id="paybackList" parameterType="map"
		resultType="com.log4h.singletontrip.reserve.domain.PaymentVo">
	SELECT
		admin_id,
		member_id,
		payment_target_no,
		payment_price,
		payment_total_price,
		payment_apply_date,
		payment_finish_date,
		payment_state_nm
	FROM
		tb_payment a
	JOIN
		tb_payment_state b
	ON
		a.payment_state_cd = b.payment_state_cd
	WHERE
		a.payment_state_cd > 2
	<if test="memberLevel > 1">
		AND member_id = #{memberId}
	</if>
	ORDER BY payment_target_no
	DESC LIMIT #{beginRow}, #{pagePerRow}
</select>
<!-- 환불 -->
<update id="payback" parameterType="map">
	UPDATE
		tb_payment
	SET
		payment_price = payment_price-#{paymentTotalPrice},
		payment_state_cd = 5
	WHERE
		member_id = #{memberId}
	AND
		payment_target_no = #{paymentTargetNo}
</update>
<!-- 환불 취소 -->
<update id="paybackCancel" parameterType="int">
	UPDATE
		tb_ad
	JOIN
		tb_payment
	ON
		ad_no = payment_target_no
	SET
		ad_approve_state_cd = 1,
		tb_ad.admin_id = #{adminId},
		tb_payment.admin_id = #{adminId},
		payment_state_cd = 2
	WHERE
		payment_target_no = #{paymentTargetNo}
</update>
<!-- 광고 리스트 카운트 -->
<select id="adListCount"
		resultType="int">
	SELECT
		COUNT(*)
	FROM
		tb_ad
	WHERE
		ad_approve_state_cd = 2
	<if test="memberLevel == 2">
		AND company_id = #{memberId}
	</if>
</select>
<!-- 광고 리스트 가져오기 -->
<select id="selectAdList" parameterType="map"
		resultType="com.log4h.singletontrip.ad.domain.AdVo">
	SELECT
		ad_no,
		company_id,
		ad_content,
		ad_img,
		ad_reg_date,
		ad_end_date,
		admin_id
	FROM
		tb_ad
	WHERE
		ad_approve_state_cd=2
	<if test="memberLevel == 2">
		AND company_id = #{memberId}
	</if>
	ORDER BY ad_no
	DESC LIMIT #{beginRow}, #{pagePerRow}
</select>
<!-- 광고 이미지 파일 검색 -->
<select id="selectAdImg" parameterType="com.log4h.singletontrip.ad.domain.AdVo"
		resultType="String">
	SELECT
		ad_img
	FROM
		tb_ad
	WHERE
		ad_no = #{adNo}
</select>
<!-- 광고 리스트에서 이미지파일 업로드 -->
<update id="adImgUpload" parameterType="com.log4h.singletontrip.ad.domain.AdVo">
	UPDATE
		tb_ad
	SET
		ad_img = #{adImg}
	WHERE 
		ad_no = #{adNo}
</update>
<!-- 광고 신청 등록(ad테이블) -->
<insert id="adApply" parameterType="com.log4h.singletontrip.ad.domain.AdVo" useGeneratedKeys="true"  keyProperty="adNo" >
	INSERT INTO tb_ad 
		(
			company_id,
			ad_price_cd, 
			ad_group_cd,
			ad_content, 
			ad_img,
			ad_page_address,
			ad_total_amount,
			ad_total_price, 
			ad_apply_date
		) 
	SELECT
			#{companyId},
			ad_price_cd, 
			ad_price_group,
			ad_price_detail,
			#{adImg}, 
			#{adPageAddress},
			ad_price_amount, 
			ad_price_total, 
			now() 
	FROM 
			tb_ad_price 
	WHERE 
			ad_price_cd = #{adPriceCd}
</insert>
<!-- 광고 신청 등록(payment테이블) -->
<insert id="adApplyPayment" parameterType="com.log4h.singletontrip.ad.domain.AdVo">
	INSERT INTO tb_payment
		(
			member_id,
			payment_cate_cd,
			payment_target_no,
			payment_total_price, 
			payment_apply_date
		) 
	SELECT
			company_id,
			2, 
			#{adNo}, 
			ad_total_price, 
			ad_apply_date
	FROM 
			tb_ad
	WHERE 
			ad_no = #{adNo}
</insert>
<!-- 결제 목록 가져오기 -->
<select id="paymentList"
		resultType="com.log4h.singletontrip.ad.domain.AdVo">
	SELECT
		ad_no,
		ad_content,
		ad_total_price
	FROM
		tb_ad
	JOIN
		tb_payment
	ON
		ad_no = payment_target_no
	WHERE
		member_id = #{companyId}
	AND
		payment_state_cd=1
	AND
		ad_approve_state_cd=1
	GROUP BY
		ad_no
</select>
<!-- 결제 목록들의 합계 구하기 -->
<select id="totalPrice"
		resultType="int" >
	SELECT 
		COALESCE(SUM(payment_total_price),0) 
	FROM 
		tb_payment
	WHERE 
		member_id = #{companyId}
	AND
		payment_state_cd=1
</select>
<!-- 광고 신청 목록에서 삭제 -->
<delete id="deleteAdApplyList" parameterType="com.log4h.singletontrip.ad.domain.AdVo">
	DELETE 
	FROM
		tb_ad
	WHERE
		ad_no = #{adNo}
</delete>
<!-- 광고 신청 목록에서 삭제 후 결제 등록 목록에서도 삭제 -->
<delete id="deletePayAdList" parameterType="com.log4h.singletontrip.ad.domain.AdVo">
	DELETE
	FROM
		tb_payment
	WHERE
		payment_target_no = #{adNo}
</delete>
<!-- 결제 -->
<update id="paymentAd" parameterType="map">
	UPDATE
		tb_payment
	SET
		payment_state_cd=2,
		payment_price = #{total},
		payment_finish_date=now()
	WHERE
		member_id = #{companyId}
	AND
		payment_target_no = #{adNo}
</update>
<!-- 스케줄러 -->
<!-- 기간 지난 광고 내리기 -->
<update id="adDrop">
	UPDATE
		tb_ad
	SET
		ad_approve_state_cd = 4
	WHERE
		ad_end_date = curdate()
</update>
<!-- 광고 테이블 광고 끝난시점 부터 2년 지난 데이터 지우기 -->
<delete id="deleteOldAd">
	DELETE FROM
		tb_ad
	WHERE
		DATE_ADD(ad_end_date, INTERVAL 2 YEAR) <![CDATA[<]]> now()
</delete>
<!-- 결제 테이블 결제일로부터 5년 지난 데이터 지우기 -->
<delete id="deleteOldPayment">
	DELETE FROM
		tb_payment
	WHERE
		DATE_ADD(payment_finish_date, INTERVAL 5 YEAR) <![CDATA[<]]> now()
</delete>
<!-- 등록만 하고 결제를 안한 데이터는 7일 뒤에 지워짐(결제 테이블) -->
<delete id="deleteNotPayment">
	DELETE FROM
		tb_payment
	WHERE
		payment_finish_date is null
	AND
		DATE_ADD(payment_apply_date, INTERVAL 7 DAY) <![CDATA[<]]> now()
</delete>
<!-- 결제 테이블에서 결제 안한 목록 지워진게 있으면 tb_ad 데이터도 삭제 -->
<delete id="deleteNotPaymentAd">
	DELETE FROM
		tb_ad
	WHERE
		DATE_ADD(ad_apply_date, INTERVAL 7 DAY) <![CDATA[<]]> now()
</delete>
</mapper>
