<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
	<select id="boardTotalCount" parameterType="Map" resultType="int">
		SELECT
			COUNT(*)
		FROM
			tb_board
		WHERE
			board_cate_cd = #{boardCateCd}
	</select>
	<select id="boardList" parameterType="Map" resultType="com.log4h.singletontrip.board.domain.BoardVo">
		SELECT 
			board_no, 
			member_id,
			board_cate_cd,
			board_title, 
			board_content, 
			DATE_FORMAT(board_reg_date, "%Y-%m-%d ") as 'boardRegDate' ,
			board_modify_date, 
			board_delete_date, 
			board_view_count
		FROM tb_board
		WHERE
			board_cate_cd = #{boardCateCd}
		<if test="boardNo != null and boardNo != ''">
		AND board_no = #{boardNo}
		</if>
		<if test="pagePerRow != null and pagePerRow != ''">
		ORDER BY
			board_reg_date
		DESC LIMIT #{beginRow}, #{pagePerRow}
		</if>
	</select>
	<insert id="boardInsert" parameterType="com.log4h.singletontrip.board.domain.BoardVo">
		INSERT INTO tb_board(
			member_id,
			board_cate_cd,
			board_title,
			board_content,
			board_reg_date
		)VALUES(
			#{memberId},
			#{boardCateCd},
			#{boardTitle},
			#{boardContent},
			now()
		)
	</insert>
</mapper>