<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mainMapper">
<select id="searchPersonCount" parameterType="string" resultType="int">
	SELECT
		COUNT(*)
	FROM
		tb_member m
	JOIN
		tb_person p
	ON
		m.member_id = p.person_id
	WHERE
		m.member_level = 3
	AND
		m.act_state_cd = 1
	AND
		concat(m.member_nm, m.member_id, m.member_email, m.member_phone) regexp #{value}
</select>
<select id="searchPersonList" parameterType="map" resultType="com.log4h.singletontrip.main.domain.SearchPersonVo">
	SELECT
		m.member_id,
		m.member_nm,
		m.member_img,
		m.member_evaluation_rating,
		p.person_birth,
		p.person_gender
	FROM
		tb_member m
	JOIN
		tb_person p
	ON
		m.member_id = p.person_id
	WHERE
		m.member_level = 3
	AND
		m.act_state_cd = 1
	<if test="value != null and value != ''">
	AND
		concat(m.member_nm, m.member_id, m.member_email, m.member_phone) regexp #{value}
	ORDER BY m.member_reg_date DESC
	</if>
	<if test="orderBy != null and orderBy != ''">
		<if test="orderBy eq 'bestList'">
		ORDER BY m.member_evaluation_rating DESC
		</if>
		<if test="orderBy eq 'newList'">
		ORDER BY m.member_reg_date DESC
		</if>
	</if>
	LIMIT #{beginRow}, #{pagePerRow}
</select>

<select id="searchCompanyCount" parameterType="string" resultType="int">
	SELECT
		COUNT(*)
	FROM
		tb_member m
	JOIN
		tb_company c
	ON
		m.member_id = c.company_id
	JOIN
		tb_company_type ct
	ON
		c.company_type_cd = ct.company_type_cd
	WHERE
		m.member_level = 2
	AND
		m.act_state_cd = 1
	AND
		concat(m.member_nm, c.company_nm, ct.company_type_nm, c.company_address, m.member_id, m.member_email, m.member_phone) regexp #{value}
</select>
<select id="searchCompanyList" parameterType="map" resultType="com.log4h.singletontrip.main.domain.SearchCompanyVo" >
	SELECT
		m.member_id,
		c.company_nm,
		m.member_img,
		m.member_evaluation_rating,
		m.member_phone,
		c.company_address,
		ct.company_type_nm
	FROM
		tb_member m
	JOIN
		tb_company c
	ON
		m.member_id = c.company_id
	JOIN
		tb_company_type ct
	ON
		c.company_type_cd = ct.company_type_cd
	WHERE
		m.member_level = 2
	AND
		m.act_state_cd = 1
	<if test="value != null and value != ''">
	AND
		concat(m.member_nm, c.company_nm, ct.company_type_nm, c.company_address, m.member_id, m.member_email, m.member_phone) regexp #{value}
	ORDER BY m.member_reg_date DESC 
	</if>
	<if test="orderBy != null and orderBy != ''">
		<if test="orderBy eq 'bestList'">
		ORDER BY m.member_evaluation_rating DESC
		</if>
		<if test="orderBy eq 'newList'">
		ORDER BY m.member_reg_date DESC
		</if>
	</if>
	LIMIT #{beginRow}, #{pagePerRow}
</select>
<select id="searchTripCount" parameterType="string" resultType="int">
	SELECT
		COUNT(*)
	FROM
		tb_trip t
	JOIN
		tb_trip_theme tn
	ON 
		t.trip_theme_cd = tn.trip_theme_cd
	JOIN
		tb_region r
	ON 
		t.region_cd = r.region_cd
	JOIN
		tb_recruit_state rn
	ON 
		t.recruit_state_cd = rn.recruit_state_cd
	WHERE
		t.recruit_state_cd = 1
	AND
		concat(t.trip_theme_cd, r.region_do, r.region_si, t.trip_title, t.trip_content, t.trip_tag) regexp #{value}
</select>
<select id="searchTripList" parameterType="map" resultType="com.log4h.singletontrip.main.domain.SearchTripVo">
	SELECT
		t.trip_no,
		t.person_id,
		m.member_img,
		p.person_gender,
		tn.trip_theme_nm,
		r.region_do,
		r.region_si,
		t.trip_title,
		t.trip_content,
		t.trip_start_date,
		t.trip_end_date
	FROM
		tb_trip t
	JOIN
		tb_trip_theme tn
	ON 
		t.trip_theme_cd = tn.trip_theme_cd
	JOIN
		tb_member m
	ON 
		t.person_id = m.member_id
	JOIN
		tb_person p
	ON 
		t.person_id = p.person_id
	JOIN
		tb_region r
	ON 
		t.region_cd = r.region_cd
	WHERE
		t.recruit_state_cd = 1
	<if test="value != null and value != ''">
	AND
		concat(t.trip_theme_cd, r.region_do, r.region_si, t.trip_title, t.trip_content, t.trip_tag) regexp #{value}
	ORDER BY t.trip_start_date DESC 
	</if>
	<if test="orderBy != null and orderBy != ''">
	<if test="orderBy eq 'newList'">
	ORDER BY t.trip_reg_date DESC 
	</if>
	</if>
	LIMIT #{beginRow}, #{pagePerRow}
</select>
<select id="mainNotice" resultType="String">
	SELECT
		board_title
	FROM
		tb_board
	WHERE
		board_cate_cd = 4
	AND
		board_delete_date is null
	ORDER BY
		board_reg_date DESC
	LIMIT 1
</select>
</mapper>