<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">
<select id="searchPersonList" parameterType="String" resultType="com.log4h.singletontrip.member.domain.PersonVo">
	SELECT
		*
	FROM
		tb_member
	WHERE
		member_level = 3
	AND
		concat(member_nm, member_id, member_email, member_phone) regexp #{value};
</select>
<select id="searchCompanyList" parameterType="String" resultType="com.log4h.singletontrip.member.domain.CompanyVo" >
	SELECT
		*
	FROM
		tb_member
	WHERE
		member_level = 2
	AND
		concat(member_nm, member_id, member_email, member_phone) regexp #{value};
</select>
<select id="searchTripList" parameterType="String" resultType="com.log4h.singletontrip.trip.domain.TripVo">
	SELECT
		*
	FROM
		tb_trip t
	JOIN
		tb_region r
	ON 
		t.region_cd = r.region_cd
	JOIN
		tb_trip_theme tt
	ON
		t.trip_theme_cd = tt.trip_theme_cd
	WHERE
		t.recruit_state_cd = 1
	AND
		concat(t.trip_theme_cd, r.region_do, r.region_si, t.trip_title, t.trip_content, t.trip_tag) regexp #{value};
</select>
</mapper>