<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mileageMapper">
	
	<!-- 마일리지 리스트 행의 수 -->
	<select id="mileageTotalCount" parameterType="Map" resultType="int">
		SELECT 
			count(*)			
		FROM 
			tb_mileage m
		JOIN 
			tb_mileage_cate mct
		ON 
			m.mileage_cate_cd = mct.mileage_cate_cd
		<choose>
			<when test="login.memberLevel == 1">
				<if test="selectOption != 0">
					WHERE
					mct.mileage_state = #{selectOption}
				</if>
					
				<if test ="selectValue != null and selectValue !='' ">
					AND
						m.person_id LIKE '%${selectValue}%'		
				</if>
			</when>
			<otherwise>
				WHERE
					m.person_id = #{login.memberId}
				<if test="selectOption != 0">
					AND
						mct.mileage_state = #{selectOption}
				</if>
			</otherwise>
		</choose>
	</select>
	
	
	<select id="mileageList" parameterType="Map" resultType ="com.log4h.singletontrip.mileage.domain.MileageVo">
		SELECT
			m.person_id as 'person.memberId', 
			m.mileage_use_price as 'mileageUsePrice', 
			m.mileage_use_date as 'mileageUseDate',
			
			mct.mileage_state as 'mileageCate.mileageState', 
			mct.mileage_cate_nm as 'mileageCate.mileageCateNm', 
			mct.mileage_cate_price as 'mileageCate.mileageCatePrice',
			
			p.person_total_mileage as 'person.personTotalMileage'	
		FROM 
			tb_mileage m
		JOIN 
			tb_mileage_cate mct
		ON 
			m.mileage_cate_cd = mct.mileage_cate_cd
		JOIN 
			tb_person p	
		ON 
			m.person_id = p.person_id
			
		<choose>
			<when test="login.memberLevel == 1">
				<if test="selectOption != 0">
					WHERE 
					 mct.mileage_state = #{selectOption}
				</if>
				<if test ="selectValue != null and selectValue !='' ">
					AND
						m.person_id LIKE '%${selectValue}%'		
				</if>
			</when>
			<otherwise>
				WHERE
					m.person_id = #{login.memberId}
				<if test="selectOption != 0">
					AND
						mct.mileage_state = #{selectOption}
				</if>
			</otherwise>
		</choose>
		ORDER BY 
			m.mileage_use_date
		DESC LIMIT 
			#{beginRow}, #{pagePerRow}
	</select>
</mapper>
