<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tripMapper">
<!-- 여행 리스트 -->
<select id="tripList" parameterType="map" resultType="com.log4h.singletontrip.trip.domain.TripVo">
	SELECT
		t.trip_no,
		t.person_id,
		t.trip_theme_cd,
		tn.trip_theme_nm,
		t.region_cd,
		r.region_do,
		r.region_si,
		t.recruit_state_cd,
		rn.recruit_state_nm,
		t.trip_title,
		t.trip_content,
		t.trip_present_member,
		t.trip_max_member,
		t.trip_tag,
		t.trip_start_date,
		t.trip_end_date,
		t.trip_per_price,
		t.trip_total_price,
		t.trip_recruit_start_date,
		t.trip_recruit_end_date,
		t.trip_reg_date,
		t.trip_modify_date,
		t.trip_delete_date
	FROM
		tb_trip t
	JOIN
		tb_trip_theme tn
	ON 
		t.trip_theme_cd = tn.trip_theme_cd
	JOIN
		tb_region r
	ON 
		t.region_cd = r.region_cd
	JOIN
		tb_recruit_state rn
	ON 
		t.recruit_state_cd = rn.recruit_state_cd
	WHERE
		t.trip_theme_cd
	<choose>
	<when test="memberId != null and memberId !=''">
	AND		
		t.person_id = #{memberId}
	</when>
	<when test="tripNo != null and tripNo !=''">
	AND		
		t.trip_no =#{tripNo}
	</when>
	<otherwise>
	ORDER BY trip_reg_date DESC
	LIMIT 0, #{lastTripRow}
	</otherwise>
	</choose>
</select>
<!-- 여행플랜리스트 -->
<select id="planList" parameterType="int" resultType="com.log4h.singletontrip.trip.domain.PlanVo">
	SELECT
		plan_no,
		plan_site,
		plan_content,
		plan_start_time,
		plan_end_time,
		plan_price
	FROM
		tb_plan
	WHERE
		trip_no = #{tripNo}
	ORDER BY plan_no ASC
</select>
<!-- 여행테마목록 -->
<select id="tripThemeList" resultType="com.log4h.singletontrip.trip.domain.TripThemeVo">
	SELECT
		trip_theme_cd,
		trip_theme_nm
	FROM
		tb_trip_theme
</select>
<!-- 여행지역(도)목록 -->
<select id="regionDoList" resultType="com.log4h.singletontrip.trip.domain.RegionVo">
	SELECT DISTINCT
		region_do
	FROM
		tb_region
</select>
<!-- 여행지역(시)목록 -->
<select id="regionSiList" parameterType="String" resultType="com.log4h.singletontrip.trip.domain.RegionVo">
	SELECT
		region_cd,
		region_si
	FROM
		tb_region
	WHERE
		region_do=#{regionDo}
</select>
<!-- 여행등록 -->
<insert id="tripInsert" parameterType="com.log4h.singletontrip.trip.domain.TripVo"
	useGeneratedKeys="true"  keyProperty="tripNo">
	INSERT INTO	tb_trip(
		person_id,
		trip_theme_cd,
		region_cd,
		trip_title,
		trip_content,
		trip_max_member,
		trip_tag,
		trip_start_date,
		trip_end_date,
		trip_recruit_start_date,
		trip_recruit_end_date,
		trip_reg_date
	)
	VALUES(
		#{personId},
		#{tripThemeCd},
		#{regionCd},
		#{tripTitle},
		#{tripContent},
		#{tripMaxMember},
		#{tripTag},
		#{tripStartDate},
		#{tripEndDate},
		now(),
		#{tripRecruitEndDate},
		now()
	)
</insert>
<!-- 여행등록시 그룹등록 -->
<insert id="groupInsert" parameterType="com.log4h.singletontrip.trip.domain.TripVo">
INSERT INTO	tb_group(
		trip_no,
		person_id,
		approve_state_cd,
		group_apply_date
		)
	VALUES(
		#{tripNo},
		#{personId},
		1,
		now()
	)
</insert>
<!-- 여행그룹 승인 & 거절-->
<update id="groupApprove" parameterType="com.log4h.singletontrip.trip.domain.GroupVo">
	UPDATE 
		tb_group
	SET
		approve_state_cd = #{approveStateCd},
		group_approve_date = now()
	WHERE	
		trip_no = #{tripNo}
	AND
		person_id = #{personId}
</update>

<!-- 여행일정등록 -->
<insert id="planInsert" parameterType="com.log4h.singletontrip.trip.domain.PlanVo" 
	useGeneratedKeys="true"  keyProperty="planNo">
	INSERT INTO	tb_plan(
		trip_no,
		plan_site,
		plan_content,
		plan_start_time,
		plan_end_time,
		plan_price
	)
	VALUES(
		#{tripNo},
		#{planSite},
		#{planContent},
		#{planStartTime},
		#{planEndTime},
		#{planPrice}	
	)
</insert>
<!-- 여행일정등록시 여행경비업데이트 -->
<update id="tripPriceUpdate" parameterType="com.log4h.singletontrip.trip.domain.PlanVo">
	UPDATE 
		tb_trip
	SET
		trip_total_price = (trip_total_price
							<if test="planPrice != null and planPrice !=0">
							+ ${planPrice}
							</if>
							<if test="planLastPrice != null and planLastPrice !=0">
							- ${planLastPrice}
							</if>
							),
		trip_per_price = Round(trip_total_price/trip_max_member)
	WHERE	
		trip_no = #{tripNo}
</update>
<!-- 여행일정 view -->
<select id="planView" parameterType="int" resultType="com.log4h.singletontrip.trip.domain.PlanVo">
	SELECT
		plan_no,
		trip_no,
		plan_site,
		plan_content,
		plan_start_time,
		plan_end_time,
		plan_price
	FROM
		tb_plan
	WHERE
		plan_no = #{planNo}
</select>
<!-- 여행일정수정 -->
<update id="planUpdate" parameterType="com.log4h.singletontrip.trip.domain.PlanVo">
	UPDATE 
		tb_plan
	SET
		plan_site = #{planSite},
		plan_content = #{planContent},
		plan_start_time = #{planStartTime},
		plan_end_time = #{planEndTime},
		plan_price = #{planPrice}
	WHERE	
		plan_no = #{planNo}
</update>
<!-- 여행삭제 -->
<delete id="planDelete" parameterType="int">
	DELETE FROM 
		tb_plan
	WHERE
		plan_no = #{planNo}
</delete>

<!-- 그룹리스트 총 카운트 -->
<select id="groupTotalCount" parameterType="String" resultType="int">
	SELECT
		COUNT(*)
	FROM
		tb_group
	WHERE
		person_id = #{personId}
</select>
<!-- 그룹 리스트 -->
<select id="groupList" parameterType="map" resultType="com.log4h.singletontrip.trip.domain.GroupVo">
	SELECT
		g.group_no,
		g.trip_no,
		t.trip_title,
		g.person_id,
		g.approve_state_cd,
		a.approve_state_nm,
		g.group_apply_date,
		g.group_approve_date,
		g.group_drop_date
	FROM
		tb_group g
	JOIN
		tb_trip t
	ON 
		g.trip_no = t.trip_no
	JOIN
		tb_approve_state a
	ON 
		g.approve_state_cd = a.approve_state_cd
	WHERE
		g.person_id = #{personId}
	ORDER BY g.group_no DESC
	LIMIT #{beginRow}, #{pagePerRow}
</select>
<!-- 해당여행그룹원 리스트 -->
<select id="groupMemberList" parameterType="int" resultType="com.log4h.singletontrip.trip.domain.GroupVo">
	SELECT
		g.person_id,
		m.member_nm,
		g.group_apply_date,
		a.approve_state_nm,
		g.group_approve_date,
		g.group_drop_date
	FROM
		tb_group g
	JOIN
		tb_member m
	ON 
		g.person_id = m.member_id
	JOIN
		tb_approve_state a
	ON 
		g.approve_state_cd = a.approve_state_cd
	WHERE
		g.trip_no = #{tripNo}
	ORDER BY g.group_apply_date ASC
</select>
<!-- 그룹참가체크-->
<select id="tripJoinCheck" parameterType="map" resultType="com.log4h.singletontrip.trip.domain.GroupVo">
	SELECT
		g.approve_state_cd
	FROM
		tb_group g
	JOIN
		tb_approve_state a
	ON 
		g.approve_state_cd = a.approve_state_cd
	WHERE
		person_id = #{personId}
	AND
		trip_no= #{tripNo}
</select>
</mapper>