<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tripMapper">
<!-- 여행 리스트 -->
<select id="tripList" parameterType="map" resultType="com.log4h.singletontrip.trip.domain.TripVo">
	SELECT
		t.trip_no,
		t.person_id,
		t.trip_theme_cd,
		tn.trip_theme_nm,
		t.region_cd,
		r.region_do,
		r.region_si,
		t.recruit_state_cd,
		rn.recruit_state_nm,
		t.trip_title,
		t.trip_content,
		t.trip_present_member,
		t.trip_max_member,
		t.trip_tag,
		t.trip_img,
		t.trip_start_date,
		t.trip_end_date,
		t.trip_per_price,
		t.trip_total_price,
		t.trip_recruit_start_date,
		t.trip_recruit_end_date,
		t.trip_reg_date,
		t.trip_modify_date,
		t.trip_delete_date
	FROM
		tb_trip t
	JOIN
		tb_trip_theme tn
	ON 
		t.trip_theme_cd = tn.trip_theme_cd
	JOIN
		tb_region r
	ON 
		t.region_cd = r.region_cd
	JOIN
		tb_recruit_state rn
	ON 
		t.recruit_state_cd = rn.recruit_state_cd
	WHERE
		t.person_id = #{memberId}
	<choose>
	<when test="tripNo != null and tripNo !=''">
	AND		
		t.trip_no =#{tripNo}
	</when>
	<otherwise>
	ORDER BY trip_reg_date DESC
	LIMIT 0, #{lastTripRow}
	</otherwise>
	</choose>
</select>
<!-- 여행플랜리스트 -->
<select id="planList" parameterType="int" resultType="com.log4h.singletontrip.trip.domain.PlanVo">
	SELECT
		plan_no,
		plan_site,
		plan_content,
		plan_start_time,
		plan_end_time,
		plan_price
	FROM
		tb_plan
	WHERE
		trip_no = #{tripNo}
	ORDER BY plan_no ASC
</select>
<!-- 여행테마목록 -->
<select id="tripThemeList" resultType="com.log4h.singletontrip.trip.domain.TripThemeVo">
	SELECT
		trip_theme_cd,
		trip_theme_nm
	FROM
		tb_trip_theme
</select>
<!-- 여행지역(도)목록 -->
<select id="regionDoList" resultType="com.log4h.singletontrip.trip.domain.RegionVo">
	SELECT DISTINCT
		region_do
	FROM
		tb_region
</select>
<!-- 여행지역(시)목록 -->
<select id="regionSiList" parameterType="String" resultType="com.log4h.singletontrip.trip.domain.RegionVo">
	SELECT
		region_cd,
		region_si
	FROM
		tb_region
	WHERE
		region_do=#{regionDo}
</select>
<insert id="tripInsert" parameterType="com.log4h.singletontrip.trip.domain.TripVo">
	INSERT INTO	tb_trip(
		person_id,
		trip_theme_cd,
		region_cd,
		trip_title,
		trip_content,
		trip_max_member,
		trip_tag,
		trip_start_date,
		trip_end_date,
		trip_recruit_start_date,
		trip_recruit_end_date,
		trip_reg_date
	)
	VALUES(
		#{personId},
		#{tripThemeCd},
		#{regionCd},
		#{tripTitle},
		#{tripContent},
		#{tripMaxMember},
		#{tripTag},
		#{tripStartDate},
		#{tripEndDate},
		now(),
		#{tripRecruitEndDate},
		now()
	)
</insert>
</mapper>